/* Basic reset for padding/margins */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.grid-section, .grid-section h2, .grid-section a,
#scrollbar, .filter-box, .styled-table, .ncr-form, img {
    margin: 0 auto;
}

img, .webpageSettings, .topbar, .bar-image, input[type="text"], 
input[type="number"], textarea, input[type="date"], 
.styled-table, #scrollbar, .filter-box {
    width: 100%;
}

.username, .grid-section a:visited, .grid-section a:link,
.styled-table tbody tr:hover, .styled-table thead tr, button {
    color: #fff;
}

.sidebar:hover a, .breadcrumb li a:hover, .breadcrumb li+li:before {
    color: #173541;
}

.topbar, .bar, .grid-section a:hover,
.styled-table thead tr, button:hover {
    background-color: #173541;
}

/*basic styling*/
a {
    text-decoration: none;
}

button, .radio-log, #submit-doc-button, #save-doc-button{
    display: inline;
}

button {
    background-color: #5897c9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: .2em;
    padding: 0.2rem 0.2rem;
    text-decoration: none;
    width: 5em;
}

table button{
    border: 2px solid #173541;
    width: 70px;
}

fieldset {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    margin: 0 0 10px 0; 
    font-size: 1.5em;
}

img {
    height: auto;
}

p {
    margin: 0;
    text-align: center;
}

textarea {
    resize: vertical; 
}

.webpageSettings {
    padding-bottom: 50px;
}

/* Sidebar */
.sidebar {
    width: 4.5%;
    background-color: #5897c9;
    position: fixed;
    top: 50px; 
    bottom: 0;
    left: 0;
    padding-top: 20px;
    display: block;
}

/*Sidebar Animation*/
@keyframes sidebar-ease {
    from {width: 5%;}
    to {width: 18%;}
}

@keyframes text-fade-in {
    0% {
        opacity: 0%;
        display: none;
    }
    60%{
        opacity: 0%;
        display: none;
    }
    100% {
        opacity: 100%;
        display: inline;
    }
}

/* Sidebar links */
.sidebar a {
    background-image:linear-gradient(to top,  #fff 0%, #d9d9d9 70%) ;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 0 10px 30px;
    display: block;
    text-decoration: none;
}

.sidebar:hover a{
    width: 90%;
}

.sidebar:hover{
    animation-name: sidebar-ease;
    animation-duration: 350ms;
    animation-timing-function: ease-out;
    width: 18%;
    border-right: 3px solid #173541;
}

.sidebar:hover img, .sidebar img{
    height: 38.975px;
    width: auto;
}

.sidebar:hover .sidebar-link{
    display: flex;
    justify-content: space-between;
}

.sidebar p{
    display: none;
}

.sidebar:hover p{
    animation-name: text-fade-in;
    animation-duration: 400ms;
    display: inline;
    text-align: left;
    padding: 0 0 0 10px;
    position: relative;
    bottom: 10px;
    font-size: 18px;
    font-weight: 700;
}

.sidebar a:hover{

    outline-offset: -2px;
    outline: 2px solid #173541;
}

/* Navbar */
.topbar {
    position: fixed; 
    margin-left: 0%;
    top: 0;
    z-index: 1; 
    height: 60px;
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}

.crossfire-logo{
    margin-left: 0;
}

.topbar img{
    height: 40px;
    width: auto;
}


/*Bell and scrollbar animations*/
@keyframes scrollbar-size {
    0%{
        height: 0;
    }
    100%{
        height: 200px;
    }
}

@keyframes scrollbar-revert {
    0%{
        height: 200px;
    }
    99%{
        visibility: visible;
    }
    100%{
        height:0px
    }
    
}

.bell-anchor{
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    padding: 0;
    margin-right: 115px;
}

.bell-anchor img{
    display: inline;
}

.bell-anchor ul{
    display: inline-block;
    position:absolute;
    width: 200px;
    right: 0;
    visibility: hidden;
}

.bell-anchor:hover ul, .bell-anchor:hover div{
    visibility: visible;
    animation-name: scrollbar-size;
    animation-duration: 1s;
}

.bell-anchor:hover::after{
    animation-name: scrollbar-revert;
    animation-duration: 1s;
}

.bell-anchor li{
    padding: 5px 10px;
    background-color: #fff;
    color: #173541;
    text-decoration: none;
    list-style-type: none;
    border-bottom: 1px solid #1735413a;
}

.bell-anchor div{
    background-color: #d9d9d9;
    display: inline-block;
    position: absolute;
    width: 215px;
    height: 200px;
    right: 35px;
    top: 60px;
    visibility: hidden;
}

.form-class {
    margin-left: 6%;
    padding-bottom: 60px;
}

#view-forms-h1 {
    margin-top: 20px;
}

.reportClass h1 {
    display: block;
    align-items: center;
}

.bkgr-main img {
    display: block;
    margin: auto;
}

#grid-form-view{
    display: grid;
    grid-template-columns: 1.25fr 2fr;
    gap: 50px;
    margin: 0 175px;
}

/* Container for the 4 sections */
.content-nav {
    padding-top: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 60px;
    justify-content: center; 
    align-items: center; 
    margin: 0 100px;
}

/* Styling for each section */
.grid-section {
    background-color: #f0f0f0;
    border-radius: 10px;
    height: 100%;
    padding: 50px 10px 0;
}

.grid-section, .grid-section h2{
    margin-bottom: 15px;
    text-align: center;
}

.grid-section h2{
    margin-bottom: 5px;
}

.grid-section a {
    border-radius: 10px;
    background-color: #5897c9;
    display: block;
    text-align: center;
    padding: 20px 20px 40px;
    width: 90%;
}

.grid-section a:visited, .grid-section a:link{
    text-decoration: none;
}

/* Box at the top of each section */

.grid-section img{
    width:30%;
    margin-bottom: 25px;
}

/* Center the h1 title */
.header-text {
    font-size: 2em;
    margin: 20px 0 20px 90px;
}

/* Align h2 to the left */
.left-align {
    text-align: left;
    margin-bottom: 10px;
}

/* General input styling */
input[type="text"], input[type="number"], textarea, input[type="date"] {
    padding: .75em;
    margin: 0.5em 0;
    box-sizing: border-box;
    border-style: solid;
}

/* Grid layout for the 4 corners in Product Details */
.grid-4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Grid layout for the Final Section with two fields beside each other */
.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

/* Radio button group */
.radio-group {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 7px;
}

.scrollbar{
    height: 408px;
    overflow-y:visible;
    overflow-x: hidden;
    overflow: scroll;
    border-radius: 10px;
}

#return-button {
    margin-top: 40px;
    width: 200px;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    font-size: 18px;
    text-align: left;
}

tr {
    background-color: #daeeff;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid #ddd; 
}

.styled-table thead tr{
    text-align: left;
}

.styled-table tbody tr:nth-child(even) {
    background-color: #f3f3f3; /* Add zebra-striping to rows */
}

.styled-table tbody tr:hover {
    background-color: #5897c9; /* Add hover effect */
}

.filter-box {
    margin-bottom: 30px; 
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form styling */
.ncr-form {
    width: 80%;
    padding-bottom: 50px;
}

#form-big-overall{
    row-gap: 20px;
    column-gap: 85px;
}

#form-big-overall textarea{
    height: 175px;
}

.ncr-form h2{
    margin-top: 10px;
}

#quality-rep{
    margin-top: 20px;
}

/**************Breadcrumb trail**************/
.breadcrumb {
    margin-top: 100px;
    margin-left: 10%;
    display: block;
}

.breadcrumb li {
    display: inline;
    list-style: none;
}

.breadcrumb li+li:before {
    content: ">\00a0";
}

.breadcrumb li a:visited, .breadcrumb li a{
    color: #5897c9;
    text-decoration: none;
}

.required-field{
    height: 10px;
    width: 10px;
    background-color: #ff7119;
    border-radius: 50%;
    display: inline-block;
    
}

#create-require-notice{
    margin-left: 5px;
    display: inline;
}

#ncr-recent{
    width: 60%;
    margin-top: 50px;
}

.radio-log{
    margin-right: 1.5em;
    padding: 0.25em 0.5em;
}

.pdfbutton{
    background-color: #5897c9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: .2em;
    padding: 0.2rem 0.2rem;
    text-decoration: none;
    width: 8em;
}